<h1>Maps experiments</h1>
{{#g-map lat=-30.054875 lng=-51.222556 zoom=17 as |context|}}
    {{#g-map-marker context lat=-30.054875 lng=-51.222556 title='Bearch' as |markerContext|}}
        {{#g-map-infowindow markerContext openOn="mouseover" closeOn="mouseout"}}
            <h2>Bearch</h2>
            <p>Cool people working here</p>
        {{/g-map-infowindow}}
    {{/g-map-marker}}
{{/g-map}}
